.collection-warpper {
    width: 100%;
    height: 92vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 850px;
}

div.title h1 {

    font-size: 65px;
}

.collection-divs {
    width: 850px;
    display: flex;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #34495e;
    color:white;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
    cursor: pointer;
}

.box h1 {
    font-size: 45px;
}

.box-logo {
    font-size: 90px;
}

.placeholder {
    width: 200px;
    height: 200px;
    background-color: #34495e2a;
    border-style: dashed;
    border-color: #34495e17;
    border-width: 5px;
    
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.placeholder-icon {
    font-size: 90px;
}